body {
	background: #d8d7d7;
}

h1 {
    color: #20b2aa;
    text-align: center;
	font-size: 60px;
	padding: 1px;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    color: #2042b2;
    text-align: center;
	font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

p {
    color: #1e0f50;
    text-align: center;
	font-size: 25px;
	padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.cabecalho-imagem{
    width: 3%;
}

.cabecalho {
    background-color: #2042b2;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 15px;
}

.Terra {
    width: 25%;
}


img.Terra{
    float: left;
    border: transparent thin solid;
    display: flex;
    text-align: center;
    align-items: center;
}


.socorro {
    display: flex;
    justify-content: center;
}
